.DS_Store
.venv
.jess
__pycache__/
*.ckpt
.vscode/

# custom-gaussian
temp_output/
temp_output2/
temp_output3/
temp_output4/
frames/
renders/
unedited_models/

# custom-edit
concept_lists/
data/
output/
shells/
wandb/
